body {
    background-color: rgb(61, 61, 61);
}

h1 {
    color: rgb(255, 255, 255);
    font-size:50px;
    text-align: center;
}

.topnav {
  overflow: hidden;
  background-color: #c30000;
  position:fixed;
}

.topnav a {
  float: left;
  background-color: #c30000;
  color: white;
  opacity: 30%;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  position:fixed;
}

html {
  scroll-behavior: smooth;
}

.grid-container {
    display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  background-color: #741f1f;
  margin: auto;
  width: 60%;
  height: 800px;
  border: 3px solid green;
  padding: 10px;
  border-radius: 25px;
}

@keyframes drop-down {
  from {height: 100%;}
  to {height: 200%;}
}

.spades {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    text-align: center;
    padding: 10px 0;
    font-size: 30px;
    border-radius: 25px;
  }

.spades:hover {
  animation-name: drop-down;
  animation-duration: 0.5s;
  height:200%;
  text-align: center;
  z-index: +1;
}
  
  .clubs {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    text-align: center;
    padding: 10px 0;
    font-size: 30px;
    border-radius: 25px;
  }

  .clubs:hover {
    animation-name: drop-down;
  animation-duration: 0.5s;
  height:200%;
    height: 200%;
    text-align: center;
    z-index: +1;
  }
  
  .diamonds {
    background-color: rgba(255, 255, 255, 0.8);
    color: red;
    text-align: center;
    padding: 10px 0;
    font-size: 30px;
    border-radius: 25px;
  }

  .diamonds:hover {
    animation-name: drop-down;
  animation-duration: 0.5s;
  height:200%;
    height: 200%;
    text-align: center;
    z-index: +1;
  }
  
  .hearts {
    background-color: rgba(255, 255, 255, 0.8);
    color: red;
    text-align: center;
    padding: 10px 0;
    font-size: 30px;
    border-radius: 25px;
  }

  .hearts:hover {
    animation-name: drop-down;
  animation-duration: 0.5s;
  height:200%;
    height: 200%;
    text-align: center;
    z-index: +1;
  }